/jellyfin/cache
/jellyfin/config
/jellyfin/media
/jellyfin/media2
/v2raya/etc
/ql
/filebrowser
/driveos/files/*.deb
rustdesk/data/db_v2.sqlite3
rustdesk/data/db_v2.sqlite3-shm
rustdesk/data/db_v2.sqlite3-wal
